body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #F8F4EC;
}

header {
  background-color: #E83C91;
  text-align: center;
  padding: 30px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 1rem;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.card {
  background: white;
  margin: 30px;
  padding: 25px;
  border-radius: 15px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}